@page "/movie/details/{Id:long}"

<PageTitle>Movie Details</PageTitle>

@if (_isLoading)
{
    <Loader/>
}
else
{
    <div class="hero-bg" style="@($"--bg-img: url(https://image.tmdb.org/t/p/original{Details?.BackdropPath})")">
        <div class="hero-container">
            <div class="container-xxl d-flex flex-column flex-md-row">
                <!-- Hero section goes here -->
                <div class="flex-grow-1 d-flex align-items-center justify-content-center justify-content-md-end">
                    @if (Details is not null)
                    {
                        <div class="text-center text-md-end">
                            <h1 class="text-light">@Details.Title</h1>
                            <h5 class="text-light">@Details.Tagline</h5>
                            @if (Details.Genres is not null)
                            {
                                @foreach (var genre in Details.Genres)
                                {
                                    <div class="d-inline-flex ms-1">
                                        <span class="badge round-pill badge-light">@genre.Name</span>
                                    </div>
                                }
                            }
                            <ul class="nav nav-pills mt-3">
                                <li class="nav-item d-inline-flex">
                                    <a class="nav-link" href="@Details.Homepage"><i class="fa-regular fa-film me-2"></i><span>Home Page</span></a>
                                </li>
                                <li class="nav-item d-inline-flex">
                                    <a class="nav-link"><i class="fa-regular fa-fire me-2"></i><span>@Details.Popularity</span></a>
                                </li>
                            </ul>
                        </div>
                    }
                </div>
                <div class="order-last order-md-first d-flex justify-content-center">
                    <div class="poster-container">
                        @if (Details?.PosterPath is not null)
                        {
                            <img src="@($"https://image.tmdb.org/t/p/w500/{Details.PosterPath}")" alt="movie-poster"/>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-xxl">
        <div class="d-flex flex-column" style="margin-top: 12rem">
            <p>
                @if (Details is not null)
                {
                    @Details.Overview
                }
            </p>
        </div>
    </div>
}