@* @page "/tv/details/{id:long}" *@

@if (TvDetails is null)
{
    <Loader/>
}
else
{
    <div class="tv-hero-bg" style="@($"--bg-img: url(https://image.tmdb.org/t/p/original{TvDetails?.BackdropPath})")">
        <div class="tv-hero-container">
            <div class="container-xxl d-flex flex-column flex-md-row">
                <!-- Hero section goes here -->
                <div class="flex-grow-1 d-flex align-items-center justify-content-center justify-content-md-end">
                    @if (TvDetails is not null)
                    {
                        <div class="text-center text-md-end">
                            <h1 class="text-light">@TvDetails.Name</h1>
                            <h5 class="text-light">@TvDetails.Tagline</h5>
                            @if (!string.IsNullOrEmpty(TvDetails.Genres.ToString()))
                            {
                                @foreach (var genre in TvDetails.Genres)
                                {
                                    <div class="d-inline-flex ms-1">
                                        <span class="badge round-pill badge-light">@genre.Name</span>
                                    </div>
                                }
                            }
                            <ul class="nav nav-pills justify-content-end mt-3">
                                <li class="nav-item d-inline-flex">
                                    <a class="nav-link" href=@($"{TvDetails.Homepage}")>
                                        <i class="fa-solid fa-film me-2"></i><span>Home Page</span>
                                    </a>
                                </li>
                                <li class="nav-item d-inline-flex">
                                    <a class="nav-link">
                                        <i class="fa-solid fa-fire me-2"></i><span>@TvDetails.Popularity</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    }
                </div>
                <div class="order-last order-md-first d-flex justify-content-center">
                    <div class="tv-poster-container">
                        @if (TvDetails?.PosterPath is not null)
                        {
                            <img src="@($"https://image.tmdb.org/t/p/w500/{TvDetails.PosterPath}")" alt="tv-poster"/>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-xxl">
        <div class="d-flex flex-column" style="margin-top: 12rem">
            <p>
                @if (TvDetails is not null)
                {
                    @TvDetails.Overview
                }
            </p>
        </div>
    </div>
}